@import '../../../../../assets/styles/variables';
@import '../../../../../assets/styles/responsive';

.algoseek__title {

    margin-bottom: 4.8rem;

    h2 {
        margin-bottom: 20px;
    }

    p {
        max-width: 952px;
        width: 100%;
    }
}

.algoseek_data {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;

    @include lg {
        grid-template-columns: repeat(3, 1fr);
    }

    @include md {
        grid-template-columns: repeat(2, 1fr);
    }

    @include xs {
        grid-template-columns: repeat(1, 1fr);
    }
}

.market_tile__wrapper {    
    padding: 20px;
    background-color: #F3F4F5;

    @include md {
        min-height: auto;
    }

    .icons {
        height: 44px;
        width: 44px;
        margin-bottom: 20px;

        @include lg {
            margin-bottom: 10px;
        }
    }

    &.pt-40 {
        padding-top: 40px;
    }
}

.algoseek_market__content {
    padding-left: $space-120;
    padding-right: $space-120;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #FAFBFB !important;

    @include xs {
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }
}

// CUSTOM RESPONSIVENESS

@media (max-width: 1099px) {
    .algoseek_market__content {
        padding-left: 8rem;
        padding-right: 8rem;
    }

    .algoseek_data {
        gap: 16px;
    }
}

@media (max-width: 991px) {
    .algoseek_data {
        .body_font {
            font-size: $font-16 - 4;
        }
    }
}