<!-- MARKET DATA SECTION START -->
<section class="algoseek_market__wrapper">
    <div class="container_wrapper">
        <div class="algoseek_market__content bg_greenish_white space__xs">
            <div class="algoseek__title text-center">
                <h2 class="lh_11 font_helvetica font__sm fw-bold" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-offset="200">Market Data Types</h2>
                <p class="body_font_sm lh_14 fw-normal mb-0 text_gray mx-auto" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-offset="300">
                    Our depth of expertise in market data enables us to offer a vast array of data types, including
                    specialized aggregations like Renko bars and options expiry bars, computed analytics such as custom
                    indicators, tailored data based on market participants and trade/quote types, ensuring a
                    comprehensive
                    suite of data solutions for diverse market needs.
                </p>
            </div>

            <div class="algoseek_data">
                <div class="market_tile__wrapper rounded-8 d-flex align-items-center justify-content-center flex-column">
                    <div class="icons d-flex align-items-center justify-content-center mx-auto">
                        <img src="../../../../../assets/images/svgs/market-data-types/1.svg"
                            alt="Market Data Types" class="mx-auto d-block h-100 w-100">
                    </div>
                    <p class="text-center mb-0 body_font_sm fw-normal lh_14">TAQ (Trade+Quote) series, including
                        TAQ, TANQ
                        (Trade+NBBO Quote) and
                        TTOB (Trade + Top of
                        Book)</p>
                </div>
                <div class="market_tile__wrapper rounded-8 d-flex align-items-center justify-content-center flex-column">
                    <div class="icons d-flex align-items-center justify-content-center mx-auto">
                        <img src="../../../../../assets/images/svgs/market-data-types/2.svg"
                            alt="Market Data Types" class="mx-auto d-block h-100 w-100">
                    </div>
                    <p class="text-center mb-0 body_font_sm fw-normal lh_14">Advanced TAQ Bars <br />
                        (flexible intervals available, <br />
                        90+ data points)</p>
                </div>
                <div class="market_tile__wrapper rounded-8 d-flex align-items-center justify-content-center flex-column">
                    <div class="icons d-flex align-items-center justify-content-center mx-auto">
                        <img src="../../../../../assets/images/svgs/market-data-types/3.svg"
                            alt="Market Data Types" class="mx-auto d-block h-100 w-100">
                    </div>
                    <p class="text-center mb-0 body_font_sm fw-normal lh_14">Trade Only Bars (flexible intervals
                        available)</p>
                </div>
                <div class="market_tile__wrapper rounded-8 d-flex align-items-center justify-content-center flex-column">
                    <div class="icons d-flex align-items-center justify-content-center mx-auto">
                        <img src="../../../../../assets/images/svgs/market-data-types/4.svg"
                            alt="Market Data Types" class="mx-auto d-block h-100 w-100">
                    </div>
                    <p class="text-center mb-0 body_font_sm fw-normal lh_14">Full Depth / Multiple Depth</p>
                </div>
                <div class="market_tile__wrapper rounded-8 d-flex align-items-center justify-content-center flex-column">
                    <div class="icons d-flex align-items-center justify-content-center mx-auto">
                        <img src="../../../../../assets/images/svgs/market-data-types/5.svg"
                            alt="Market Data Types" class="mx-auto d-block h-100 w-100">
                    </div>
                    <p class="text-center mb-0 body_font_sm fw-normal lh_14">Trade Only</p>
                </div>
                <div class="market_tile__wrapper rounded-8 d-flex align-items-center justify-content-center flex-column">
                    <div class="icons d-flex align-items-center justify-content-center mx-auto">
                        <img src="../../../../../assets/images/svgs/market-data-types/6.svg"
                            alt="Market Data Types" class="mx-auto d-block h-100 w-100">
                    </div>
                    <p class="text-center mb-0 body_font_sm fw-normal lh_14">Daily OHLC</p>
                </div>
                <div class="market_tile__wrapper rounded-8 d-flex align-items-center justify-content-center flex-column">
                    <div class="icons d-flex align-items-center justify-content-center mx-auto">
                        <img src="../../../../../assets/images/svgs/market-data-types/7.svg"
                            alt="Market Data Types" class="mx-auto d-block h-100 w-100">
                    </div>
                    <p class="text-center mb-0 body_font_sm fw-normal lh_14">End of Day</p>
                </div>
                <div class="market_tile__wrapper rounded-8 d-flex align-items-center justify-content-center flex-column">
                    <div class="icons d-flex align-items-center justify-content-center mx-auto">
                        <img src="../../../../../assets/images/svgs/market-data-types/8.svg"
                            alt="Market Data Types" class="mx-auto d-block h-100 w-100">
                    </div>
                    <p class="text-center mb-0 body_font_sm fw-normal lh_14">Custom Data</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- MARKET DATA SECTION END -->