<!-- MARKET DATA SECTION START -->
<section class="algoseek_market__wrapper space__sm bg_greenish_white border_bottom__grayish-blue">
    <div class="container_wrapper">
        <div class="algoseek__title margin_bottom text-center">
            <h2 class="lh_11">Market Data Types</h2>
            <p class="body_font lh_13 fw-light text_gray mx-auto">
                Our depth of expertise in market data enables us to offer a vast array of data types, including
                specialized aggregations like Renko bars and options expiry bars, computed analytics such as custom
                indicators, tailored data based on market participants and trade/quote types, ensuring a comprehensive
                suite of data solutions for diverse market needs.
            </p>
        </div>

        <div>
            <div class="algoseek_data">
                <div class="row g-0">
                    <div class="col-12 col-sm-4 col-md-3">
                        <div class="market_tile__wrapper border_right__grayish-blue border_bottom__grayish-blue p-4">
                            <div class="icons d-flex align-items-center justify-content-center mx-auto">
                                <img src="../../../../../assets/images/svgs/market-data-types/1.svg"
                                    alt="Market Data Types" class="mx-auto d-block">
                            </div>
                            <p class="text-center mb-0 body_font">TAQ (Trade+Quote) series, including TAQ, TANQ
                                (Trade+NBBO Quote) and
                                TTOB (Trade + Top of
                                Book)</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-3">
                        <div class="market_tile__wrapper border_right__grayish-blue border_bottom__grayish-blue pt-40 ">
                            <div class="icons d-flex align-items-center justify-content-center mx-auto">
                                <img src="../../../../../assets/images/svgs/market-data-types/2.svg"
                                    alt="Market Data Types" class="mx-auto d-block">
                            </div>
                            <p class="text-center mb-0 body_font">Advanced TAQ Bars <br />
                                (flexible intervals available, <br />
                                90+ data points)</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-3">
                        <div class="market_tile__wrapper border_right__grayish-blue border_bottom__grayish-blue pt-40">
                            <div class="icons d-flex align-items-center justify-content-center mx-auto">
                                <img src="../../../../../assets/images/svgs/market-data-types/3.svg"
                                    alt="Market Data Types" class="mx-auto d-block">
                            </div>
                            <p class="text-center mb-0 body_font">Trade Only Bars (flexible intervals available)</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-3">
                        <div class="market_tile__wrapper border_bottom__grayish-blue border_right__grayish-blue px-4 pb-4 pt-40">
                            <div class="icons d-flex align-items-center justify-content-center mx-auto">
                                <img src="../../../../../assets/images/svgs/market-data-types/4.svg"
                                    alt="Market Data Types" class="mx-auto d-block">
                            </div>
                            <p class="text-center mb-0 body_font">Full Depth / Multiple Depth</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-3">
                        <div class="market_tile__wrapper border_bottom__grayish-blue border_right__grayish-blue px-4 pb-4 pt-40">
                            <div class="icons d-flex align-items-center justify-content-center mx-auto">
                                <img src="../../../../../assets/images/svgs/market-data-types/5.svg"
                                    alt="Market Data Types" class="mx-auto d-block">
                            </div>
                            <p class="text-center mb-0 body_font">Trade Only</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-3">
                        <div class="market_tile__wrapper border_bottom__grayish-blue border_right__grayish-blue px-4 pb-4 pt-40">
                            <div class="icons d-flex align-items-center justify-content-center mx-auto">
                                <img src="../../../../../assets/images/svgs/market-data-types/6.svg"
                                    alt="Market Data Types" class="mx-auto d-block">
                            </div>
                            <p class="text-center mb-0 body_font">Daily OHLC</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-3">
                        <div class="market_tile__wrapper border_right__grayish-blue px-4 pb-4 pt-40">
                            <div class="icons d-flex align-items-center justify-content-center mx-auto">
                                <img src="../../../../../assets/images/svgs/market-data-types/7.svg"
                                    alt="Market Data Types" class="mx-auto d-block">
                            </div>
                            <p class="text-center mb-0 body_font">End of Day</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-3">
                        <div class="market_tile__wrapper px-4 pb-4 pt-40">
                            <div class="icons d-flex align-items-center justify-content-center mx-auto">
                                <img src="../../../../../assets/images/svgs/market-data-types/8.svg"
                                    alt="Market Data Types" class="mx-auto d-block">
                            </div>
                            <p class="text-center mb-0 body_font">Custom Data</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- MARKET DATA SECTION END -->