<!-- HERO SECTION START -->
<section class="infraX_wrapper">
    <ngx-particles class="ts-particles" [id]="id" [options]="particlesOptions"
        (particlesLoaded)="particlesLoaded($event)"></ngx-particles>
    <div class="bg_gradient_top"></div>
    <div class="bg_gradient_bottom"></div>
    <div class="container_wrapper">
        <div class="infraX_content position-absolute top-50 start-50 translate-middle w-100">
            <div class="infraX_title text-center text_white">
                <h2 class="mb-5 fw-semibold">
                    <span class="text_green d-block mb-2">infraX</span>

                    <span class="lh_11">
                        Solution Suite
                        <br />for Data Supplier
                    </span>
                </h2>
                <p class="body_font_md">A complete package to
                    build, sell, deliver and mamintain data products to
                    internal and external
                    customers</p>
            </div>
        </div>
    </div>
</section>
<!-- HERO SECTION END -->