<!-- REALTIME DATA SECTION START -->
<section class="algoseek_realtime__wrapper space__sm">
    <div class="container_wrapper">
        <div class="algoseek_title__wrapper text-center">
            <h5 class="sub_header__font text_green fw-semibold lh-12 mb-4">{{ realTimeDataContent?.subtitle }}</h5>
            <div *ngIf="realTimeData.length > 0">
                <h2>{{realTimeDataContent?.title}}</h2>
                <p class="realtime_description mx-auto">{{realTimeDataContent?.description}}</p>
            </div>
        </div>

        <!-- REAL TIME DATA INFORMATION START -->
        <div class="algoseek_data__wrapper space_top__xs space_bottom__xs">
            <div class="algoseek_data d-flex align-items-start justify-content-center justify-content-sm-between flex-wrap flex-sm-nowrap gap-4">

                <!-- FLEXIBLE TECHNOLOGY -->
                <div class="realtime_data__wrapper">
                    <h4 class="text-center d-flex align-items-center justify-content-center gap-2 flex-sm-column">
                        <span class="d-block lh-1">Flexible</span>
                        <span class="d-block lh-1">Technology</span>
                    </h4>

                    <div>
                        <div class="border__grayish-blue rounded-8 p-4 text-center">
                            <h6 class="mb-0">Multicast</h6>
                        </div>
                        <div class="connect_vertical_line"></div>
                    </div>
                    <div>
                        <div class="border__grayish-blue rounded-8 p-4 text-center">
                            <h6 class="mb-0">TCP Socket</h6>
                        </div>
                        <div class="connect_vertical_line"></div>
                    </div>
                    <div>
                        <div class="border__grayish-blue rounded-8 p-4 text-center">
                            <h6 class="mb-0">Kafka Streaming</h6>
                        </div>
                        <div class="connect_vertical_line"></div>
                    </div>
                    <div>
                        <div class="border__grayish-blue rounded-8 p-4 text-center">
                            <h6 class="mb-0">Restful API</h6>
                        </div>
                        <div class="connect_vertical_line"></div>
                    </div>
                    <div>
                        <div class="border__grayish-blue rounded-8 p-4 text-center">
                            <h6 class="mb-0">WebSocket</h6>
                        </div>
                        <div class="connect_vertical_line"></div>
                    </div>
                    <div>
                        <div class="border__grayish-blue rounded-8 p-4 text-center">
                            <h6 class="mb-0">Real-time Database</h6>
                        </div>
                    </div>
                </div>

                <!-- FLEXIBLE LATENCY PROFILE -->
                <div class="realtime_data__wrapper">
                    <h4 class="text-center d-flex align-items-center justify-content-center gap-2 flex-sm-column">
                        <span class="d-block lh-1">Flexible</span>
                        <span class="d-block lh-1">Latency Profile</span>
                    </h4>

                    <div>
                        <div class="border__grayish-blue rounded-8 p-3 text-center">
                            <h6 class="mb-2"> &lt; 10us</h6>
                            <p class="text_slate_gray fw-semibold mb-0 body_font_sm">Ultra-low-Latency</p>
                        </div>
                        <div class="connect_vertical_line"></div>
                    </div>
                    <div>
                        <div class="border__grayish-blue rounded-8 p-3 text-center">
                            <h6 class="mb-2"> &lt; 30us</h6>
                            <p class="text_slate_gray fw-semibold mb-0 body_font_sm">Low latency</p>
                        </div>
                        <div class="connect_vertical_line"></div>
                    </div>
                    <div>
                        <div class="border__grayish-blue rounded-8 p-3 text-center">
                            <h6 class="mb-2"> &lt; 100us</h6>
                            <p class="text_slate_gray fw-semibold mb-0 body_font_sm">Medium latency</p>
                        </div>
                        <div class="connect_vertical_line"></div>
                    </div>
                    <div>
                        <div class="border__grayish-blue rounded-8 p-3 text-center">
                            <h6 class="mb-2"> &lt; 10us</h6>
                            <p class="text_slate_gray fw-semibold mb-0 body_font_sm">Ultra-low-Latency</p>
                        </div>
                        <div class="connect_vertical_line"></div>
                    </div>
                    <div>
                        <div class="border__grayish-blue rounded-8 p-3 text-center">
                            <h6 class="mb-2"> &lt; 5 to 10 seconds</h6>
                            <p class="text_slate_gray fw-semibold mb-0 body_font_sm">Near-realtime</p>
                        </div>
                        <div class="connect_vertical_line"></div>
                    </div>
                    <div>
                        <div class="border__grayish-blue rounded-8 p-3 text-center">
                            <h6 class="mb-2"> &lt; 10/15 minutes</h6>
                            <p class="text_slate_gray fw-semibold mb-0 body_font_sm">Delayed data</p>
                        </div>
                    </div>
                </div>

                <!-- FLEXIBLE ACCESS -->
                <div class="realtime_data__wrapper algoseek_flexible_access">
                    <h4 class="text-center d-flex align-items-center justify-content-center gap-2 flex-sm-column">
                        <span class="d-block lh-1">Flexible</span>
                        <span class="d-block lh-1">Access</span>
                    </h4>

                    <div class="d-flex align-items-start">
                        <div class="w-100">
                            <div>
                                <div class="flexiable_access_data border__grayish-blue d-flex align-items-center justify-content-center rounded-8 p-4 text-center">
                                    <h6 class="mb-0">Co-location</h6>
                                </div>
                                <div class="connect_vertical_line"></div>
                            </div>
                            <div>
                                <div class="flexiable_access_data border__grayish-blue d-flex align-items-center justify-content-center rounded-8 p-4 text-center">
                                    <h6 class="mb-0">Cross-Connect</h6>
                                </div>
                                <div class="connect_vertical_line opacity-0"></div>
                            </div>
                            <div>
                                <div class="flexiable_access_data border__grayish-blue d-flex align-items-center justify-content-center rounded-8 p-4 text-center">
                                    <h6 class="mb-0">Virtual Network</h6>
                                </div>
                                <div class="connect_vertical_line"></div>
                            </div>
                            <div>
                                <div class="flexiable_access_data border__grayish-blue d-flex align-items-center justify-content-center rounded-8 p-4 text-center">
                                    <h6 class="mb-0">Open Internet</h6>
                                </div>
                            </div>
                        </div>
                        <div class="connection__wrapper d-flex align-items-center flex-column">
                            <div class="connect_horizontal_line d-flex align-items-center justify-content-center">
                                <div></div>
                            </div>
                            <div class="connect_horizontal_line d-flex align-items-center justify-content-center">
                                <div></div>
                            </div>
                            <div class="connect_horizontal_line d-flex align-items-center justify-content-center">
                                <div></div>
                            </div>
                            <div class="connect_horizontal_line d-flex align-items-center justify-content-center">
                                <div></div>
                            </div>
                        </div>
                        <div class="w-100">
                            <div class="flexiable_access_data border__grayish-blue d-flex align-items-center justify-content-center rounded-8 p-4 text-center">
                                <h6 class="mb-0">Kafka Streaming</h6>
                            </div>
                            <div class="connect_vertical_line opacity-0"></div>

                            <div class="flexiable_access_data border__grayish-blue d-flex align-items-center justify-content-center rounded-8 p-4 text-center">
                                <h6 class="mb-0">ArdaDB</h6>
                            </div>
                            <div class="connect_vertical_line"></div>

                            <div class="flexiable_access_data border__grayish-blue d-flex align-items-center justify-content-center rounded-8 p-4 text-center">
                                <h6 class="mb-0">AWS Kinesis</h6>
                            </div>
                            <div class="connect_vertical_line opacity-0"></div>

                            <div class="flexiable_access_data border__grayish-blue d-flex align-items-center justify-content-center rounded-8 p-4 text-center">
                                <h6 class="mb-0">Custom Delivery</h6>
                            </div>
                            <div class="connect_vertical_line"></div>

                            <div class="border__grayish-blue rounded-8 p-4 text-center">
                                <h6 class="mb-0">Ticker Plant as a Service</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- REAL TIME DATA INFORMATION END -->

        <!-- BOTTOM BUTTONS -->

        <div class="d-flex align-items-center justify-content-center gap-4">
            <button class="btn_pill">Business</button>
            <button class="btn_pill">Academic</button>
            <button class="btn_pill">Individual</button>
        </div>
    </div>
</section>
<!-- REALTIME DATA SECTION END -->