<footer class="algoseek_footer__wrapper bg_eerie_black">
    <div class="container_wrapper">
        <div
            class="footer_wrapper space__xs border_bottom__grayish-blue d-flex align-items-start justify-content-between flex-column flex-lg-row">
            <div class="algoseek_logo__wrapper w-100 mx-auto">
                <div class="logo">
                    <img src="../../../assets/images/logo/footer-logo.png" alt="logo" class="h-100 w-100">
                </div>
                <div class="news_letter__wrapper">
                    <label for="news_letter" class="body_font_lg text_gray mb-4">Subscribe to our newsletter</label>

                    <div class="d-flex align-items-center justify-content-center">
                        <input type="mail" id="news_letter" class="form-control body_font_lg bg-transparent text_gray"
                            placeholder="Your e-mail">
                        <button class="send_btn flex-shrink-0">
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_117_1968)">
                                    <path
                                        d="M1.3238 6.11329C1.01686 6.20099 0.738135 6.36731 0.515213 6.59581C0.292291 6.8243 0.132894 7.10704 0.0527938 7.41605C-0.0273062 7.72506 -0.0253327 8.04963 0.058519 8.35765C0.142371 8.66566 0.305194 8.94644 0.530879 9.1722L3.65855 12.2962V18.3334H9.70213L12.8509 21.4775C13.0199 21.648 13.2209 21.7834 13.4424 21.8759C13.6639 21.9684 13.9015 22.0162 14.1415 22.0165C14.2993 22.0162 14.4564 21.9959 14.609 21.956C14.9179 21.8782 15.2009 21.7204 15.4294 21.4985C15.6579 21.2766 15.8239 20.9984 15.9107 20.692L21.9919 0.0192871L1.3238 6.11329ZM1.83346 7.87604L17.4425 3.27437L5.49371 15.2039V11.5372L1.83346 7.87604ZM14.1535 20.1814L10.462 16.5H6.79538L18.7423 4.5632L14.1535 20.1814Z"
                                        fill="black" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_117_1968">
                                        <rect width="22" height="22" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

            <div
                class="footer_links_wrapper d-none d-lg-flex align-items-start justify-content-between flex-wrap w-100 gap-5">
                <div>
                    <h5 class="text_white fw-semibold">Coming soon</h5>

                    <ul>
                        <li><a href="javascript:void(0)" class="footer_link fw-semibold hover_transition">Cash Forex</a>
                        </li>
                        <li><a href="javascript:void(0)"
                                class="footer_link fw-semibold hover_transition">Cryptocurrencies</a></li>
                        <li><a href="javascript:void(0)" class="footer_link fw-semibold hover_transition">Full Corporate
                                Events</a></li>
                    </ul>
                </div>
                <div>
                    <h5 class="text_white fw-semibold">What’s new</h5>

                    <ul>
                        <li><a href="javascript:void(0)" class="footer_link fw-semibold hover_transition"> Master FIle
                            </a></li>
                        <li><a href="javascript:void(0)" class="footer_link fw-semibold hover_transition"> ML4T Download
                            </a></li>
                        <li><a href="javascript:void(0)" class="footer_link fw-semibold hover_transition"> LEAN Format
                            </a></li>
                    </ul>
                </div>
                <div>
                    <h5 class="text_white fw-semibold"> Legal </h5>

                    <ul>
                        <li><a href="javascript:void(0)" class="footer_link fw-semibold hover_transition"> Data
                                Licensing and <br />Service Master Agreement </a></li>
                        <li><a href="javascript:void(0)" class="footer_link fw-semibold hover_transition"> Master
                                Service Agreement </a></li>
                        <li><a href="javascript:void(0)" class="footer_link fw-semibold hover_transition"> Acceptable
                                Use Policy </a></li>
                        <li><a href="javascript:void(0)" class="footer_link fw-semibold hover_transition"> Schedule 2
                            </a></li>
                        <li><a href="javascript:void(0)" class="footer_link fw-semibold hover_transition"> Schedule 3
                            </a></li>
                    </ul>
                </div>
                <div>
                    <h5 class="text_white fw-semibold"> Resources </h5>

                    <ul>
                        <li><a href="javascript:void(0)" class="footer_link fw-semibold hover_transition"> Terms of Use
                            </a>
                        </li>
                        <li><a href="javascript:void(0)" class="footer_link fw-semibold hover_transition"> Siet Map </a>
                        </li>
                        <li><a href="javascript:void(0)" class="footer_link fw-semibold hover_transition"> Privacy
                                policy </a></li>
                        <li><a href="javascript:void(0)" class="footer_link fw-semibold hover_transition"> Cookie
                                settings </a></li>
                    </ul>
                </div>
            </div>

            <div class="footer_wrapper__accordion d-flex d-lg-none w-100">
                <div class="footer_links_wrapper accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item bg-transparent">
                        <h5 class="accordion-header mb-0 py-4">
                            <button
                                class="accordion-button collapsed body_font_md fw-semibold bg-transparent text-white"
                                type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                aria-expanded="false" aria-controls="flush-collapseOne">
                                Coming soon
                            </button>
                        </h5>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ul>
                                    <li><a href="javascript:void(0)"
                                            class="footer_link fw-semibold hover_transition">Cash
                                            Forex</a>
                                    </li>
                                    <li><a href="javascript:void(0)"
                                            class="footer_link fw-semibold hover_transition">Cryptocurrencies</a></li>
                                    <li><a href="javascript:void(0)"
                                            class="footer_link fw-semibold hover_transition">Full
                                            Corporate
                                            Events</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item bg-transparent">
                        <h5 class="accordion-header mb-0 py-4">
                            <button class="accordion-button body_font_md fw-semibold bg-transparent text-white collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                What’s new
                            </button>
                        </h5>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ul>
                                    <li><a href="javascript:void(0)" class="footer_link fw-semibold hover_transition">
                                            Master FIle
                                        </a></li>
                                    <li><a href="javascript:void(0)" class="footer_link fw-semibold hover_transition">
                                            ML4T
                                            Download
                                        </a></li>
                                    <li><a href="javascript:void(0)" class="footer_link fw-semibold hover_transition">
                                            LEAN
                                            Format
                                        </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item bg-transparent">
                        <h5 class="accordion-header mb-0 py-4">
                            <button class="accordion-button body_font_md fw-semibold bg-transparent text-white collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                                Legal
                            </button>
                        </h5>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ul>
                                    <li><a href="javascript:void(0)" class="footer_link fw-semibold hover_transition">
                                            Data
                                            Licensing and <br />Service Master Agreement </a></li>
                                    <li><a href="javascript:void(0)" class="footer_link fw-semibold hover_transition">
                                            Master
                                            Service Agreement </a></li>
                                    <li><a href="javascript:void(0)" class="footer_link fw-semibold hover_transition">
                                            Acceptable
                                            Use Policy </a></li>
                                    <li><a href="javascript:void(0)" class="footer_link fw-semibold hover_transition">
                                            Schedule 2
                                        </a></li>
                                    <li><a href="javascript:void(0)" class="footer_link fw-semibold hover_transition">
                                            Schedule 3
                                        </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item bg-transparent">
                        <h5 class="accordion-header mb-0 py-4">
                            <button class="accordion-button body_font_md fw-semibold bg-transparent text-white collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFour" aria-expanded="false"
                                aria-controls="flush-collapseFour">
                                Resources
                            </button>
                        </h5>
                        <div id="flush-collapseFour" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ul>
                                    <li><a href="javascript:void(0)" class="footer_link fw-semibold hover_transition">
                                            Terms
                                            of Use
                                        </a>
                                    </li>
                                    <li><a href="javascript:void(0)" class="footer_link fw-semibold hover_transition">
                                            Siet
                                            Map </a>
                                    </li>
                                    <li><a href="javascript:void(0)" class="footer_link fw-semibold hover_transition">
                                            Privacy
                                            policy </a></li>
                                    <li><a href="javascript:void(0)" class="footer_link fw-semibold hover_transition">
                                            Cookie
                                            settings </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- COPY RIGHT SECTION START-->
        <div class="d-flex align-items-center justify-content-between py-4">
            <p class="mb-0 text_gray">algoseek 2024. All rights reserved</p>
            <div class="d-flex align-items-center justify-content-center gap-5">
                <div class="d-flex align-items-center justify-content-center">
                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M8.96265 8.3628H13.4195V10.5828C14.0615 9.306 15.7079 8.1588 18.1811 8.1588C22.9223 8.1588 24.0479 10.7004 24.0479 15.3636V24H19.2479V16.4256C19.2479 13.77 18.6059 12.2724 16.9715 12.2724C14.7047 12.2724 13.7627 13.8864 13.7627 16.4244V24H8.96265V8.3628ZM0.731852 23.796H5.53185V8.1588H0.731852V23.796ZM6.21945 3.06C6.21963 3.46233 6.13984 3.86068 5.98472 4.2319C5.82959 4.60313 5.60223 4.93982 5.31585 5.2224C4.73553 5.79915 3.95002 6.12198 3.13185 6.12C2.31512 6.11945 1.53142 5.79744 0.950252 5.2236C0.664905 4.94006 0.438315 4.60299 0.283464 4.23172C0.128613 3.86045 0.0485465 3.46227 0.0478516 3.06C0.0478516 2.2476 0.371852 1.47 0.951452 0.8964C1.53211 0.32179 2.31614 -0.000359053 3.13305 3.00317e-07C3.95145 3.00317e-07 4.73625 0.3228 5.31585 0.8964C5.89425 1.47 6.21945 2.2476 6.21945 3.06Z"
                            fill="white" />
                    </svg>
                </div>

                <div class="d-flex align-items-center justify-content-center">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_3222_3382)">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M8.82975 0C7.50571 0.000978593 6.43415 1.07547 6.43513 2.39951C6.43415 3.72355 7.50669 4.79804 8.83073 4.79902H11.2263V2.40049C11.2273 1.07645 10.1548 0.00195719 8.82975 0C8.83073 0 8.83073 0 8.82975 0ZM8.82975 6.4H2.44345C1.11941 6.40098 0.0468756 7.47547 0.0478542 8.79951C0.0458971 10.1235 1.11844 11.198 2.44247 11.2H8.82975C10.1538 11.199 11.2263 10.1245 11.2253 8.80049C11.2263 7.47547 10.1538 6.40098 8.82975 6.4Z"
                                fill="white" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M24 8.79951C24.001 7.47547 22.9284 6.40098 21.6044 6.4C20.2804 6.40098 19.2078 7.47547 19.2088 8.79951V11.2H21.6044C22.9284 11.199 24.001 10.1245 24 8.79951ZM17.6127 8.79951V2.39951C17.6137 1.07645 16.5421 0.00195719 15.2181 0C13.8941 0.000978593 12.8215 1.07547 12.8225 2.39951V8.79951C12.8206 10.1235 13.8931 11.198 15.2171 11.2C16.5412 11.199 17.6137 10.1245 17.6127 8.79951Z"
                                fill="#BABCBF" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M15.2171 23.9998C16.5412 23.9988 17.6137 22.9243 17.6127 21.6003C17.6137 20.2763 16.5412 19.2018 15.2171 19.2008H12.8215V21.6003C12.8206 22.9234 13.8931 23.9978 15.2171 23.9998ZM15.2171 17.5988H21.6044C22.9284 17.5978 24.001 16.5234 24 15.1993C24.002 13.8753 22.9294 12.8008 21.6054 12.7988H15.2181C13.8941 12.7998 12.8215 13.8743 12.8225 15.1983C12.8215 16.5234 13.8931 17.5978 15.2171 17.5988Z"
                                fill="white" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M0.0478522 15.2003C0.0468736 16.5243 1.11941 17.5988 2.44345 17.5998C3.76748 17.5988 4.84002 16.5243 4.83904 15.2003V12.8008H2.44345C1.11941 12.8018 0.0468736 13.8763 0.0478522 15.2003ZM6.43513 15.2003V21.6003C6.43317 22.9243 7.50571 23.9988 8.82975 24.0008C10.1538 23.9998 11.2263 22.9253 11.2253 21.6013V15.2022C11.2273 13.8782 10.1548 12.8037 8.83073 12.8018C7.50571 12.8018 6.43415 13.8763 6.43513 15.2003Z"
                                fill="#BABCBF" />
                        </g>
                        <defs>
                            <clipPath id="clip0_3222_3382">
                                <rect width="23.952" height="24" fill="white" transform="translate(0.0478516)" />
                            </clipPath>
                        </defs>
                    </svg>

                </div>
            </div>
        </div>
        <!-- COPY RIGHT SECTION END-->
    </div>
</footer>