.algoseek_who_we_are__wrapper {
    background: url('../../../../../assets/images/bg/home-page/who-we-are/who-we-are.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.algoseek__content{
    max-width: 750px;
    width: 100%;

    h2 {
        margin-bottom: 20px;
    }
}