<section class="algoseek_who_we_are__wrapper space_lg_top space_lg_bottom position-relative">
    <div class="container_wrapper">
        <div class="algoseek__content">
            <h2 class="font__md font_proxima_nova_semibold fw-semibold text_white lh_11" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-offset="200">Who we are</h2>
            <p class="body_font lh_14 text_white fw-normal" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-offset="300">Our ambition is to become the best market data and related service provider for
                the financial sector. Tech savviness is imprinted in our gene since our founders developed our 1st-gen
                proprietary ticker plant in 2006, written partially in Assembly code and utilizing customized servers
                for enhanced efficiency. In 2015, algoseek was spun off from a trading fund and launched its first
                commercial dataset. Since then, we have been fusing technological sophistication and financial data
                know-how to empower our clients worldwide.</p>
        </div>
    </div>
</section>