@import '../../../../../assets/styles/variables';
@import '../../../../../assets/styles/responsive';

.algoseek__title {

    margin-bottom: $space-60;
    p {
        margin: 20px auto;
        max-width: 950px;
        width: 100%;
    }
}

.algoseek_data {

    gap: 32px;

    @include lg {
        gap: 16px !important;
    }

    @include sm {
        row-gap: 40px !important;
    }
}

.data_offering__wrapper {
    max-width: 374px;
    width: 100%;

    h4 {
        margin-bottom: 24px;

        @include md {
            margin-bottom: 18px;
            font-size: 21px;
        }

        @include sm {
            margin-bottom: 12px;
        }
    }

    .icon {
        height: 26px;
        width: 26px;
    }

    @include md {
        max-width: 310px;
        flex: 48%;
    }

    @include sm {
        max-width: 100%;
        flex: 100%;
    }
}