<!-- ALGOSEEK CONSOLE SECTION START -->
<section class="algoseek_console__wrapper space__xs">
  <div class="container_wrapper">
    <div class="algoseek__title d-block d-md-none">
      <h2 class="lh_11 font__md font_proxima_nova_semibold fw-semibold">{{ hpConsoleData[0]?.title || '' }}</h2>
      <p class="body_font_sm lh_14 fw-normal text_gray mx-auto">
        {{ hpConsoleData[0]?.description }}
      </p>
    </div>
    <div class="algoseek_console_data">
      <div class="row align-items-center gy-5">
        <div class="col-12 col-md-6 overflow-hidden">
          <div class="console__wrapper bg_greenish_white">
            <div class="d-flex align-items-center justify-content-center gap-4 mb-4 row gx-0">
              @for (item of hpAlgoseekConsoleIconsContent; track $index) {
              @if($index < 3 ){ <div class="console_data bg_light_green_shade col-4">
                <span class="icons flex_center mx-auto" [innerHTML]="item.svg | safeHtml">
                </span>
                <span class="body_font_sm d-block text-center">
                  {{ item.name }}
                </span>
            </div>
            } }
          </div>

          <div class="row g-3 flex-sm-row-reverse">
            @for (item of hpAlgoseekConsoleIconsContent; track $index) { @if
            ($index >= 3) {
            <div class="col-4 ">
              <div class="console_data border__grayish-blue h-100">
                <span class="icons flex_center mx-auto" [innerHTML]="item.svg | safeHtml">
                </span>
                <span class="body_font_sm d-block text-center">
                  {{ item.name }}
                </span>
              </div>
            </div>
            } }
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div  class="algoseek_details">
          <div class="algoseek__title d-none d-md-block">
            <h2 class="lh_11 font__md font_helvetica fw-semibold">{{ hpConsoleData[0]?.title || '' }}</h2>
            <p class="body_font_sm lh_14 fw-normal text_gray mx-auto">
              {{ hpConsoleData[0]?.description }}
            </p>
          </div>
          <div>
            <p class="body_font_sm lh_14 fw-normal text_gray" [innerHTML]="consoleData[0]?.content"></p>
            <button class="btn_pill body_font_md font_proxima_nova_semibold fw-semibold">Go To Console</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<!-- ALGOSEEK CONSOLE SECTION END -->