<!-- WHY ALGOSEEK SECTION START -->
<section class="algoseek__wrapper space__xs postion-relative bg_light_grayscale">
    <div class="container_wrapper">
        <div class="algoseek__title" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-offset="200">
            <h2 class="text-center text_eerie_black font_proxima_nova_semibold fw-semibold font_helvetica">Why algoseek</h2>
        </div>

        <div class="why_algoseek_reasons">
            <div class="row g-5">
                <div class="col-12 col-sm-6">
                    <div class="p-5 rounded-8 bg-white h-100">
                        <div class="tile_left  py-0">
                            <h3 class="body_font fw-bold lh_11">We are</h3>
                        </div>

                        <div
                            class="tile_left pt-0 d-flex align-items-start flex-column align-md-items-start flex-md-row gap-4 border_bottom__grayish-blue ">
                            <div class="icons opacity-50">
                                <img src="../../../../../assets/images/svgs/algoseek-reasons/trading.svg" alt="reason"
                                    class="d-block h-100 w-100">
                            </div>
                            <p class="body_font_sm fw-normal lh_14 mb-0">Founded by trading veterans and financial data
                                experts</p>
                        </div>

                        <div
                            class="tile_left d-flex align-items-start flex-column align-md-items-start flex-md-row gap-4 border_bottom__grayish-blue ">
                            <div class="icons">
                                <img src="../../../../../assets/images/svgs/algoseek-reasons/ambition.svg" alt="reason"
                                    class="d-block h-100 w-100">
                            </div>
                            <p class="body_font_sm fw-normal lh_14 mb-0">An energetic 8-year-old company with big
                                ambition, maturity
                                & expertise but no historical baggage</p>
                        </div>

                        <div
                            class="tile_left d-flex align-items-start flex-column align-md-items-start flex-md-row gap-4 border_bottom__grayish-blue ">
                            <div class="icons">
                                <img src="../../../../../assets/images/svgs/algoseek-reasons/data-scientist.svg"
                                    alt="reason" class="d-block h-100 w-100">
                            </div>
                            <p class="body_font_sm fw-normal lh_14 mb-0">A team with 80% of personnel being developers
                                and data
                                scientists, of which over 60% holding PhDs</p>
                        </div>

                        <div
                            class="tile_left d-flex align-items-start flex-column align-md-items-start flex-md-row gap-4">
                            <div class="icons">
                                <img src="../../../../../assets/images/svgs/algoseek-reasons/Service-oriented.svg"
                                    alt="reason" class="d-block h-100 w-100">
                            </div>
                            <p class="body_font_sm fw-normal lh_14 mb-0">Service-oriented, and we always put
                                our clients first</p>
                        </div>
                    </div>
                </div>




                <div class="col-12 col-sm-6">
                    <div class="p-5 rounded-8 bg-white h-100">
                        <div class="tile_right  py-0">
                            <h3 class="body_font fw-bold lh_11">We offer</h3>
                        </div>
    
                        <div
                            class="tile_right pt-0 d-flex align-items-start flex-column align-md-items-start flex-md-row gap-4 border_bottom__grayish-blue ">
                            <div class="icons">
                                <img src="../../../../../assets/images/svgs/algoseek-reasons/institutional-grade.svg"
                                    alt="reason" class="d-block h-100 w-100">
                            </div>
                            <p class="body_font_sm fw-normal lh_14 mb-0">The most comprehensive, institutional-grade
                                research data
                                for quants and traders</p>
                        </div>
    
                        <div
                            class="tile_right d-flex align-items-start flex-column align-md-items-start flex-md-row gap-4 border_bottom__grayish-blue ">
                            <div class="icons">
                                <img src="../../../../../assets/images/svgs/algoseek-reasons/competitive.svg" alt="reason"
                                    class="d-block h-100 w-100">
                            </div>
                            <p class="body_font_sm fw-normal lh_14 mb-0">Most competitive pricing for high quality
                                institutional
                                data and services</p>
                        </div>
    
                        <div
                            class="tile_right  d-flex align-items-start flex-column align-md-items-start flex-md-row gap-4 border_bottom__grayish-blue ">
                            <div class="icons">
                                <img src="../../../../../assets/images/svgs/algoseek-reasons/infrastructure.svg"
                                    alt="reason" class="d-block h-100 w-100">
                            </div>
                            <p class="body_font_sm fw-normal lh_14 mb-0">Data infrastructure and services including
                                database, data
                                pipeline, data tools, & data engineering</p>
                        </div>
    
                        <div
                            class="tile_right d-flex align-items-start flex-column align-md-items-start flex-md-row gap-4 ">
                            <div class="icons">
                                <img src="../../../../../assets/images/svgs/algoseek-reasons/High-touch.svg" alt="reason"
                                    class="d-block h-100 w-100">
                            </div>
                            <p class="body_font_sm fw-normal lh_14 mb-0">High-touch support by an all-PhD support team with
                                intelligence and know-how, rotated from R&D</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <button class="btn_pill btn_outline_gray mx-auto " data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-offset="400">
                Watch Video
                <span class="d-flex align-items-center justify-content-center arrow_svg">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                        fill="currentColor">
                        <path
                            d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z">
                        </path>
                    </svg>
                </span>
            </button>
        </div>
    </div>
</section>
<!-- WHY ALGOSEEK SECTION END -->