<!-- WHY ALGOSEEK SECTION START -->
<section class="algoseek__wrapper space__sm bg_eerie_black postion-relative">
    <div class="container_wrapper">
        <div class="algoseek__title">
            <h2 class="text_white text-center">Why algoseek</h2>
        </div>

        <div class="why_algoseek_reasons">
            <div class="row g-0">
                <div class="col-6">
                    <div class="tile_left py-5 px-4 border_bottom__grayish-blue border_right__grayish-blue">
                        <h3 class="text_white mb-0">We are</h3>
                    </div>
                </div>
                <div class="col-6">
                    <div class="tile_right py-5 pe-4 border_bottom__grayish-blue">
                        <h3 class="text_white mb-0">We offer</h3>
                    </div>
                </div>

                <div class="col-6 border_bottom__grayish-blue border_right__grayish-blue">
                    <div
                        class="tile_left py-5 ps-4 d-flex align-items-start flex-column align-md-items-start flex-md-row gap-4">
                        <div class="icons">
                            <img src="../../../../../assets/images/svgs/algoseek-reasons/trading.svg" alt="reason" class="d-block h-100 w-100">
                        </div>
                        <p class="body_font text_white mb-0">Founded by trading veterans and financial data experts</p>
                    </div>
                </div>
                <div class="col-6  border_bottom__grayish-blue">
                    <div class="tile_right py-5 pe-4 d-flex align-items-start flex-column align-md-items-start flex-md-row gap-4">
                        <div class="icons">
                            <img src="../../../../../assets/images/svgs/algoseek-reasons/institutional-grade.svg"
                                alt="reason" class="d-block h-100 w-100">
                        </div>
                        <p class="body_font text_white mb-0">The most comprehensive, institutional-grade research data
                            for quants and traders</p>
                    </div>
                </div>

                <div class="col-6 border_bottom__grayish-blue border_right__grayish-blue ">
                    <div
                        class="tile_left py-5 ps-4 d-flex align-items-start flex-column align-md-items-start flex-md-row gap-4">
                        <div class="icons">
                            <img src="../../../../../assets/images/svgs/algoseek-reasons/ambition.svg" alt="reason" class="d-block h-100 w-100">
                        </div>
                        <p class="body_font text_white mb-0">An energetic 8-year-old company with big ambition, maturity
                            & expertise but no historical baggage</p>
                    </div>
                </div>
                <div class="col-6 border_bottom__grayish-blue">
                    <div class="tile_right py-5 pe-4 d-flex align-items-start flex-column align-md-items-start flex-md-row gap-4">
                        <div class="icons">
                            <img src="../../../../../assets/images/svgs/algoseek-reasons/competitive.svg" alt="reason" class="d-block h-100 w-100">
                        </div>
                        <p class="body_font text_white mb-0">Most competitive pricing for high quality institutional
                            data and services</p>
                    </div>
                </div>

                <div class="col-6 border_bottom__grayish-blue border_right__grayish-blue ">
                    <div
                        class="tile_left py-5 ps-4 d-flex align-items-start flex-column align-md-items-start flex-md-row gap-4">
                        <div class="icons">
                            <img src="../../../../../assets/images/svgs/algoseek-reasons/data-scientist.svg"
                                alt="reason" class="d-block h-100 w-100">
                        </div>
                        <p class="body_font text_white mb-0">A team with 80% of personnel being developers and data
                            scientists, of which over 60% holding PhDs</p>
                    </div>
                </div>
                <div class="col-6 border_bottom__grayish-blue">
                    <div class="tile_right py-5 pe-4  d-flex align-items-start flex-column align-md-items-start flex-md-row gap-4">
                        <div class="icons">
                            <img src="../../../../../assets/images/svgs/algoseek-reasons/infrastructure.svg"
                                alt="reason" class="d-block h-100 w-100">
                        </div>
                        <p class="body_font text_white mb-0">Data infrastructure and services including database, data
                            pipeline, data tools, & data engineering</p>
                    </div>
                </div>

                <div class="col-6">
                    <div class="tile_left py-5 ps-4 border_right__grayish-blue d-flex align-items-start flex-column align-md-items-start flex-md-row gap-4">
                        <div class="icons">
                            <img src="../../../../../assets/images/svgs/algoseek-reasons/Service-oriented.svg"
                                alt="reason" class="d-block h-100 w-100">
                        </div>
                        <p class="body_font text_white mb-0">Service-oriented, and we always put
                            our clients first</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="tile_right py-5 pe-4 d-flex align-items-start flex-column align-md-items-start flex-md-row gap-4">
                        <div class="icons">
                            <img src="../../../../../assets/images/svgs/algoseek-reasons/High-touch.svg" alt="reason" class="d-block h-100 w-100">
                        </div>
                        <p class="body_font text_white mb-0">High-touch support by an all-PhD support team with
                            intelligence and know-how, rotated from R&D</p>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <button class="btn_pill btn_outline_white mx-auto">
                Learn more
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                    <path
                        d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z">
                    </path>
                </svg>
            </button>
        </div>
    </div>
</section>
<!-- WHY ALGOSEEK SECTION END -->