<!-- INFRA CONNECT SECTION START -->
<section class="infra_connect__wrapper space__xs">
    <div class="container_wrapper">
        <div class="row flex-column-reverse flex-md-row g-5">
            <div class="col-12 col-md-6">
                <div class="infra_connect_wrapper">
                    <div class="infra_connect_img position-relative">
                        <img src="../../../../../assets/images/images/infra-connect/infra-connect.png"
                            alt="Infra connect" class="algoseek_img_ratio">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="infra_connect_details">
                    <div class="infra_connect_title">
                        <p class="font_helvetica lh_11"><span class="fw-light">infra</span><strong>Connect</strong>
                        </p>
                        <h2 class="font_helvetica fw-bold font__sm">Co-location & Cloud Integration</h2>
                    </div>

                    <div class="infra_connect_tiles_wrapper">
                        <div class="infra_connect_tiles">
                            <div class="row gx-5">
                                <div class="col-6 col-md-3  border_right__grayish-blue border_bottom__grayish-blue">
                                    <div class="px-2">
                                        <div class="infra_connect_img mb-4 mx-auto">
                                            <img src="../../../../../assets/images/svgs/infra-connect/location-hosted.svg"
                                                alt="Infra connect" class="mx-auto d-block h-100 w-100">
                                        </div>
                                        <p class="text-center fw-normal body_font_sm lh_14">Co-location
                                            and hosted applications</p>
                                    </div>
                                </div>
                                <div class="col-6 col-md-3  border_right__grayish-blue border_bottom__grayish-blue">
                                    <div class="px-2">
                                        <div class="infra_connect_img mb-4 mx-auto">
                                            <img src="../../../../../assets/images/svgs/infra-connect/low_latency.svg"
                                                alt="Infra connect" class="mx-auto d-block h-100 w-100">
                                        </div>
                                        <p class="text-center fw-normal body_font_sm lh_14">Low-latency market data</p>
                                    </div>
                                </div>
                                <div class="col-6 col-md-3 border_right__grayish-blue">
                                    <div class="px-2 pt-5 pt-md-0">
                                        <div class="infra_connect_img mb-4 mx-auto">
                                            <img src="../../../../../assets/images/svgs/infra-connect/build_servers.svg"
                                                alt="Infra connect" class="mx-auto d-block h-100 w-100">
                                        </div>
                                        <p class="text-center fw-normal body_font_sm lh_14">Custom built servers</p>
                                    </div>
                                </div>
                                <div class="col-6 col-md-3">
                                    <div class="px-2 pt-5 pt-md-0">
                                        <div class="infra_connect_img mb-4 mx-auto">
                                            <img src="../../../../../assets/images/svgs/infra-connect/remote_hands.svg"
                                                alt="Infra connect" class="mx-auto d-block h-100 w-100">
                                        </div>
                                        <p class="text-center fw-normal body_font_sm lh_14">Remote
                                            hands</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <p class="mb-5 body_font_sm fw-normal text_gray lh_14">Algoseek seasoned engineer team has been
                            helping clients design infrastructure, build and
                            maintain co-lo servers and network for eight uneventful years with Zero Service Downtime.
                        </p>
                        <button class="btn_pill btn_outline_gray">
                            Learn more
                            <span class="d-flex align-items-center justify-content-center arrow_svg">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                                    fill="currentColor">
                                    <path
                                        d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z">
                                    </path>
                                </svg>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- INFRA CONNECT SECTION END -->