@import '../../../../../assets/styles/variables';
@import '../../../../../assets/styles/responsive';

.infra_connect_wrapper {
    max-width: 708px;

    .infra_connect_img {
        padding-top: 88.8%;
    }
}

.infra_connect_details {
    padding-left: $space-80;

    @include xl {
        padding-left: $space-80 - 6;
    }

    @include sm {
        padding-left: 0;
    }

    .infra_connect_img {
        height: 44px;
        width: 44px;

        @include sm {
            height: 36px;
            width: 36px;
        }
    }

    .infra_connect_title {

        h2 {
            letter-spacing: -1px;
        }

        p {
            font-size: 48px;
            line-height: 53px;
            color: $green-color;
            margin-bottom: 12px;
            letter-spacing: -2px;

            @include sm {
                font-size: 32px;
                line-height: 36px;
                text-align: center;
            }
        }

        h2 {
            @include sm {
                text-align: center;
            }
        }
    }

    .infra_connect_tiles_wrapper {
        margin: 40px 0;

        @include sm {
            margin-bottom: 36px;
        }

        .col-6.col-md-3 {
            &.border_bottom__grayish-blue {
                border-bottom-width: 0 !important;

                @include md {
                    border-bottom-width: 1px !important;
                }
            }

            &:nth-child(2) {
                &.border_right__grayish-blue {
                    border-right-width: 1px;

                    @include md {
                        border-right-width: 0px !important;
                    }
                }
            }
        }
    }

    .btn_pill {
        @include sm {
            width: 100%;
        }
    }
}