.algoseek_title__wrapper {
    h2 {
        margin-bottom: 20px;
    }

    .contact_description {
        margin-bottom: 60px;
    }
}

.contact_wrapper {
    max-width: 976px;
    width: 100%;

    .icon {
        height: 48px;
        width: 48px;
        margin-bottom: 16px;
    }
}