<!-- STATUS SECTION START -->
<section class="algoseek_status__wrapper bg_eerie_black">
    <div class="container_wrapper">
        <!-- <div class="sub_header__wrapper mx-auto margin_bottom">
            <h4 class="text-center text_white fw-semibold">Since our inception in 2015, we’ve been fusing advanced
                technology and financial data know-how to empower our clients worldwide to achieve business success.
            </h4>
        </div> -->
        <div class="status_counter mx-auto d-flex align-items-center justify-content-between">
            @for (data of statusData; track $index) {
            <div class="status">
                <h6 class="text_green position-relative fw-normal body_font_sm text-center lh_14"> {{data.description}} </h6>
                <p class="font__md lh_11 fw-semibold numbers text-white mb-0 text-center"> {{data.number}} </p>
                <p class="body_font fw-medium text-capitalize text-center mb-0 lh_14 text_grayscale"> {{data.title}} </p>
            </div>
            }
        </div>
    </div>
</section>
<!-- STATUS SECTION END -->
