@import '../../../../../assets/styles/common';
@import '../../../../../assets/styles/variables';
@import '../../../../../assets/styles/helper';
@import '../../../../../assets/styles/responsive';


// STATUS SECTION START
.algoseek_status__wrapper {
    background-image: url('../../../../../assets/images/bg/home-page/gradient-center-down.svg');
    background-position: center top;
    background-repeat: no-repeat;
    padding: $space-60 0;
}

.sub_header__wrapper {
    max-width: 1196px;
}

.status_counter {
    max-width: 1360px;
    width: 100%;

    @include md {
        flex-wrap: wrap;
        row-gap: 36px;

        .status {
            flex: 50%;

            @include xs {
                flex: 100%;
            }
        }
    }

    @include xs {
        row-gap: 28px;
    }
}

.status {
    h6 {
        margin-bottom: 16px;
    }

    &:last-child {
        display: none;
    }
}

// STATUS SECTION END


// CUSTOM RESPONSIVENESS(FOR EXTRA SMALL SCREENS)
@media (max-width: 420px) {
    .sub_header__wrapper {
        h4 {
            font-size: 18px !important;
            line-height: 22px;
        }
    }
}