@import '../../../../../assets/styles/responsive';
@import '../../../../../assets/styles/variables';

.algoseek__title {
    margin-bottom: 4.8rem;
    h2 {
        margin-bottom: 20px;
    }

    p {
        max-width: 952px;
        width: 100%;
    }
}

.algoseek_data {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;

    @include lg {
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }

    @include md {
        grid-template-columns: repeat(2, 1fr);
    }

    @include sm {
        grid-template-columns: repeat(1, 1fr);
    }
}

.market_tile__wrapper {
    padding: 20px;
    background-color: #eff5ed66;
    color: $darker-gray;

    @include md {
        min-height: 120px;
    }

    .icons {
        height: 44px;
        width: 44px;
        margin-bottom: 24px;

        @include md {
            height: 36px;
            width: 36px;
            margin-bottom: 16px;
        }
    }
}
