@keyframes changeword {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    5% {
        opacity: 1;
        transform: translateY(0);
    }

    20% {
        opacity: 1;
        transform: translateY(0);
    }

    30% {
        opacity: 0;
        transform: translateY(50px);
    }

    80% {
        opacity: 0;
        transform: translateY(50px);
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    10% {
        transform: translateY(0);
        opacity: 1;
    }

    30% {
        transform: translateY(0);
        opacity: 1;
    }

    40% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}