/* FONT FAMILI START */
@font-face {
    font-family: 'Proxima Nova';
    src: url('../web-fonts/proxima-nova/ProximaNova-ExtraBold.woff2') format('woff2'),
        url('../web-fonts/proxima-nova/ProximaNova-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../web-fonts/proxima-nova/ProximaNova-Regular.woff2') format('woff2'),
        url('../web-fonts/proxima-nova/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Bl';
    src: url('../web-fonts/proxima-nova/ProximaNova-Black.woff2') format('woff2'),
        url('../web-fonts/proxima-nova/ProximaNova-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('../web-fonts/proxima-nova/ProximaNova-Light.woff2') format('woff2'),
        url('../web-fonts/proxima-nova/ProximaNova-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


/* HELVETICA FONTS */


@font-face {
    font-family: 'Helvetica Neue';
    src: url('../web-fonts/helvetica/HelveticaNeue-Black.woff2') format('woff2'),
        url('../web-fonts/helvetica/HelveticaNeue-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../web-fonts/helvetica/HelveticaNeue-Bold.woff2') format('woff2'),
        url('../web-fonts/helvetica/HelveticaNeue-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../web-fonts/helvetica/HelveticaNeue-Heavy.woff2') format('woff2'),
        url('../web-fonts/helvetica/HelveticaNeue-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../web-fonts/helvetica/HelveticaNeue-Roman.woff2') format('woff2'),
        url('../web-fonts/helvetica/HelveticaNeue-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../web-fonts/helvetica/HelveticaNeue-Italic.woff2') format('woff2'),
        url('../web-fonts/helvetica/HelveticaNeue-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../web-fonts/helvetica/HelveticaNeue-Medium.woff2') format('woff2'),
        url('../web-fonts/helvetica/HelveticaNeue-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../web-fonts/helvetica/HelveticaNeue-Thin.woff2') format('woff2'),
        url('../web-fonts/helvetica/HelveticaNeue-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../web-fonts/helvetica/HelveticaNeue-Light.woff2') format('woff2'),
        url('../web-fonts/helvetica/HelveticaNeue-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../web-fonts/helvetica/HelveticaNeue-UltraLight.woff2') format('woff2'),
        url('../web-fonts/helvetica/HelveticaNeue-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}