$eerie-black: #1D1D1F;
$white-color: #ffffff;
$green-color: #59A745;
$gray-shade: #575A5C;
$grayish-blue: #e6e8eb;
$soft-gray-blue: #babcbf;
$slate-gray: #797c80;
$dark-green: #38732b;
$light-gray: #f6faf5d9;
$greenish-white: #f6faf5d9;
$red-color: #ff0015;
$light-red:  #ff00151a;
$darker-gray: #3D3A3A;
$light-green-shade: #e9f2e6;
$charcoal-gray: #313233;
$light-gray-shade: #f5f6f7;
$grayscale: #BABCBF;
$light-grayscale: #F5F6F7;

/* font variable */
$font-12: 10px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-24: 24px;
$font-28: 28px;
$font-30: 3rem;
$font-40: 4rem;
$font-48: 4.8rem;
$font-52: 5.2rem;
$font-60: 6rem;
$font-130: 13rem;
$font-100: 10rem;
// SPACE VARIABLE

$space-120: 12rem;
$space-100: 10rem;
$space-80: 8rem; 
$space-64: 6.4rem;
$space-60: 6rem;
$space-54: 5.4rem;
$space-140: 14rem;

$container-width: 1470px;