/* HERO SECTION START */
.hero_wrapper {
    height: calc(100vh - 140px);
}

.hero_content {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    transform: translate(-50%, -50%);
    width: 100%;
}

.hero_title h1 {
    margin-bottom: 18px;
}

.hero_title>p {    
    margin-bottom: 12px;
}

// .talk-button {
//     position: fixed;
//     bottom: 20px;
//     right: 30px;
//     border-radius: 50%;
//     height: 80px;
//     width: 80px;
//     background-color: var(--green-color);
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     opacity: 0.5;
// }

// .talk-button p {
//     position: absolute;
//     top: 3px;
//     left: 12px;
//     height: 100%;
//     font-size: var(--font-12);
//     width: 100%;
// }

// .text-one {
//     width: 740px;
//     margin: 0 auto;
//     display: block;
//     text-align: left;
// }

.animate-wrapper .word-swap {
    display: inline-block;
    position: absolute;
    padding-left: 16px;
    opacity: 0;
    -webkit-animation: changeword 5s linear infinite;
    animation: changeword 5s linear infinite;
}
.first-line .animate-wrapper .word-swap{
    left: 35.8%;
}

.animate-wrapper .word-swap:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.animate-wrapper .word-swap:nth-child(2) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.animate-wrapper .word-swap:nth-child(3) {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.animate-wrapper .word-swap:nth-child(4) {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

@-webkit-keyframes changeword {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    5% {
        opacity: 1;
        transform: translateY(0);
    }

    20% {
        opacity: 1;
        transform: translateY(0);
    }

    30% {
        opacity: 0;
        transform: translateY(50px);
    }

    80% {
        opacity: 0;
        transform: translateY(50px);
    }
}

@keyframes changeword {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    5% {
        opacity: 1;
        transform: translateY(0);
    }

    20% {
        opacity: 1;
        transform: translateY(0);
    }

    30% {
        opacity: 0;
        transform: translateY(50px);
    }

    80% {
        opacity: 0;
        transform: translateY(50px);
    }
}

/* HERO SECTION END */